<app-header></app-header>

<div class="novel-container">
  <h2>Novel List</h2>

  <div *ngIf="novels.length > 0; else loading">
    <ul>
      <li *ngFor="let novel of novels">
        <div routerLink="/home/novel/preview/{{novel.novel_id}}" >
          <img src="{{api_url}}{{novel.novel_coverurl}}" alt="Cover Image" style="max-width: 100%; height: auto;">
          {{ novel.novel_title}}
        </div>
      </li>
    </ul>
  </div>

  <ng-template #loading>
    <p>Loading novels...</p>
  </ng-template>
</div>
