<div class="auth-container">
  <h2>Đăng Nhập</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Email</label>
      <input type="email" formControlName="email" />
    </div>
    <div>
      <label>Password</label>
      <input type="password" formControlName="password" />
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Đăng Nhập</button>
    <nav class="nav-links">
        <a routerLink="/auth/signup" routerLinkActive="active-link">Chưa có tài khoản?</a>
    </nav>

  </form>
</div>

