<header class="app-header">
  <div class="logo" routerLink="/">
    <h2>MyApp</h2>
  </div>

  <nav class="nav-links">
    <div *ngIf="!isLoggedIn" (click)="checklogin()">
      <a>Upload</a>
      <a></a>
    </div>

    <div class="logged-in-group" *ngIf="isLoggedIn" >
      <a routerLink="/home/upload/start" routerLinkActive="active-link">Upload</a>
      <a routerLink="/admin" routerLinkActive="active-link">User Control</a>
    </div>
  </nav>

  <div class="user-actions">
    <button *ngIf="!isLoggedIn" routerLink="/auth/login" class="btn-login">Login</button>

    <div class="logged-in-group" *ngIf="isLoggedIn">
      <div class="avatar-container">
        <div class="avatar" (click)="toggleDropdown()">U</div>

        <div class="dropdown-menu" *ngIf="isDropdownOpen">
          <a routerLink="/home/profile" >Hồ sơ</a>
          <a routerLink="/home/settings">Cài đặt</a>
          <hr>
          <button (click)="logout()" class="dropdown-item text-danger">Đăng xuất</button>
        </div>
      </div>
    </div>
  </div>
</header>
