<div class="auth-container">

  <ng-container *ngIf="!token">
    <h2>Quên Mật Khẩu</h2>
    <form [formGroup]="emailForm" (ngSubmit)="onRequestReset()">
      <div>
        <label>Email</label>
        <input type="email" formControlName="email" placeholder="Nhập email của bạn để nhận link" />
      </div>

      <button type="submit" [disabled]="emailForm.invalid">
        Gửi Link Khôi Phục
      </button>

      <nav class="nav-links">
        <a routerLink="/auth/login">Quay lại đăng nhập</a>
      </nav>
    </form>
  </ng-container>

  <ng-container *ngIf="token">
    <h2>Đặt Lại Mật Khẩu</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="onResetPassword()">
      <div>
        <label>Mật khẩu mới</label>
        <input type="password" formControlName="new_password" placeholder="Nhập ít nhất 8 ký tự" />
      </div>

      <button type="submit" [disabled]="passwordForm.invalid">
        Xác Nhận Đổi Mật Khẩu
      </button>
    </form>
  </ng-container>

</div>
